ExecStart=/usr/local/snort/bin/snort -c /usr/local/snort/etc/snort/snort.lua -i eth0 -A alert_fast
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=root
Group=root
LimitCORE=infinity
LimitNOFILE=65536
LimitNPROC=65536
PIDFile=/var/run/snort.pid

[Install]
WantedBy=multi-user.target